<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Data_Access_Layer.Properties.Settings.ChaTexDBConnectionString"
            connectionString="Data Source=chatexdb.database.windows.net;Initial Catalog=ChaTexDB;Persist Security Info=True;User ID=chatexusername;Password=Chatexpassword123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>